/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* In your component's CSS file or a global style file */
::ng-deep .mat-snack-bar-container {
    background-color: #22ff38; /* Change this to your desired color */
    color: #ffffff; /* Change the text color if needed */
  }
  
